In [5]:
import pandas as pd
import csv

df = pd.DataFrame.from_csv('D:/Nanohub/TribeFlow/TF_Full_dataset.csv', sep ='\t', encoding = 'UTF-8', header = None)
df.columns = ['ip','resource id','datetime']

In [6]:
df.head(5)

                      ip  resource id             datetime
0
24841894   218.186.11.11         1802  2011-01-01 00:08:59
24842019   124.53.229.10         1331  2011-01-01 00:15:11
24842310  123.125.67.243         1736  2011-01-01 00:23:14
24842528   220.181.18.12         6191  2011-01-01 00:27:03
24842567   59.92.105.152         6735  2011-01-01 00:28:20

In [7]:
df_no_dups = df.drop_duplicates(subset = ['ip','resource id'], keep = 'first')

In [8]:
df_no_dups.head(5)

                      ip  resource id             datetime
0
24841894   218.186.11.11         1802  2011-01-01 00:08:59
24842019   124.53.229.10         1331  2011-01-01 00:15:11
24842310  123.125.67.243         1736  2011-01-01 00:23:14
24842528   220.181.18.12         6191  2011-01-01 00:27:03
24842567   59.92.105.152         6735  2011-01-01 00:28:20